@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --theme-lightest: #EFF4FD;
    --theme-light: #DBE6F9;
    --theme-normal: #C6D5F2;
    --theme-saturated: #AEC3E9;
    --theme-most-saturated: #8CA8DB;
}

html {
    font-size: 14pt;
    font-family: 'Inter', sans-serif;
    background-color: var(--theme-lightest);
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto auto;
    min-height: 100vh;
}

.content, header, footer {
    justify-self: center;
    margin: 0;
    padding: 0;
}

.content {
    background-color: var(--theme-light);

    margin: 0;
    display: grid;
    grid-template-rows: auto;
}

@media screen and (min-width: 750px) {
    .content, header, footer {
        width: 750px;
    }
}

h1, h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 20px;
    font-weight: normal;
    text-decoration: underline;
}

hr {
    width: 95%;
    height: 0;
    border: 0.1em solid var(--theme-most-saturated);
    border-radius: 0.1em;
}

.content {
    display: flex;
    flex-direction: column;
}

.panel {
    padding: 0 1em;
    margin: 0.5em 0;
}

header, footer {
    background-color: var(--theme-normal);
}

header {
    max-height: fit-content;
}

footer {
    align-self: end;
}

footer div {
    margin: 0.5em 1em
}