:root {
    --theme-lightest: #EFF4FD;
    --theme-light: #DBE6F9;
    --theme-normal: #C6D5F2;
    --theme-saturated: #AEC3E9;
    --theme-most-saturated: #8CA8DB;
}

.current-task-header {
    text-decoration: underline;
    font-size: 1.25em;
}

.current-task {
    padding: 0;
    margin-top: 0.5em;
    text-align: center;
    font-size: 1.25em;
}

.current-task.no-task {
    font-style: italic;
}

.task-container, .add-task-panel {
    display: flex;
    flex-direction: row;
    column-gap: 0.4em;
    margin: 0.6em 0;
    align-items: center;
}

.new-task, .task, .add, .complete, .delete {
    background-color: var(--theme-lightest);
    border: 1px solid var(--theme-most-saturated);
    min-height: 40px;
    border-radius: 5px;
}

.task, .new-task {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    flex: auto;
    font-size: 1.2em;
    padding: 0 8px;
}

.task.selected {
    border-width: 2px;
    padding: 7px;
}

.task.completed {
    color: #888;
    text-decoration: line-through;
}

.time-tracker {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    max-width: 4em;
}

.complete, .delete, .add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    padding: 0;
}

button svg {
    width: 20px;
    height: 20px;
}

.complete.active {
    color: green;
}

.complete.completed {
    color: blue;
}

.delete {
    color: crimson;
}

hr.task-divider {
    width: 100%;
    height: 0;
    border: 0.1em dashed var(--theme-most-saturated);
    border-radius: 0.1em;
}