:root {
    --theme-lightest: #EFF4FD;
    --theme-light: #DBE6F9;
    --theme-normal: #C6D5F2;
    --theme-saturated: #AEC3E9;
    --theme-most-saturated: #8CA8DB;
}

.timer-panel {
    display: grid;
    row-gap: 0.75em;
    grid-template-rows: max-content;
}

.timer {
    font-family: 'Roboto Mono', monospace;
    font-size: 5em;
    align-self: last baseline;
    justify-self: center;
}

.controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    justify-self: center;
}

.controls button {
    height: 2.25em;
    width: 5.5em;

    font-size: 1.25em;
    border-radius: 0.5em;
    border: 3px solid var(--theme-most-saturated);
    background-color: var(--theme-normal);
}

.control button:disabled {
    color: var(--theme-most-saturated);
} 
